language: node_js
node_js:
- 6
deploy:
  provider: heroku
  api_key:
    secure: ZfGBJTTHeP7UimWayAnc82bLUbjpsfK2Zw8vm9bNzdGLMA/HrBjnxpUMU4XXMGOihJLPJ7KFz2iEbiDZh/CjbEnpMgp63eFJKzHu9WCYvloqsl7m3UfyvcSJuYDAEeocB0JoGhih7920Ok0qY1g2qbhsQgJ6kZG1zA3zuBYV76JzTL0dnWlxH6hJgOnAEgoy9frXybKTfJzgb1Ct7dFfRjIZa19xOglYa3b5dh1YO5uVtcsPyNcnd3bFXPBEjmSZ5fG1eeZnTHxAWyIP2hPuYzgY1lR9jOKcvr+CzSKxLIe0hKZSAhIYjXLogQnu5stScj+PY/esklcLnWuY0IBwDli5CamUAgInQlfEVNRkadN6j+h+yCygT61yEBHC5qvs325k4+7D2V1afYdDKUIItLen80BTzD84VNvT7CZLnLXYWqdz89Rkr+eLQYsiQFDkXhxIHt2Pa/wzNqPUBcjGRnsQnL7/dQ9UefIV5q5R95BMMmz5RJRi085DzAqGLLtwKkIvhhslKn1B92b7qT6Xs8EZBQM+KjmW3jdFWZ7AzCX9NREMEXOF4AIfOrjad0Zto7L+OJcilAVyxKgLOiOfYvt2XZ/D4eKpuvvRtDXG79YcjTh4pw1xWJJHd23cxSixRg9JhNp9ykgOdRhlFCHMZKJPpAyk/VTryLK7EiB8OJk=
  app:  myhuapplication
before_install:  
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - sudo apt-get update
 - sudo apt-get install -y libappindicator1 fonts-liberation
 - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
 - sudo dpkg -i google-chrome*.deb
