@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");

.button {
    position: relative;
    border: none;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    user-select: none;
}

.btn {
    display: inline-block;
    width: 180px;
    padding: 10px 0;
    margin: 20px 0;
    border-radius: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFF;
}

.btn-play {
    background: #470886;
}

.btn-submit {
    background: #4a9c17;
}

.btn-signup {
    background: #124880;
}

.btn-reset {
    background: #c22f2f;
}

.btn-with-shadow:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: #927608;
    opacity: 0.4;
    bottom: -50px;
}
