@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

@import "input.styl"
@import "form.styl"
@import "button.styl"


*
    margin: 0
    padding: 0
    box-sizing: border-box

    &:focus
        outline: none

.or-block
    font-family: 'Roboto Mono', monospace
    font-size: 40px
    color: #ffffff

body
    background: #f1c40f
    font-family: 'Roboto', sans-serif
    font-weight: 400

.container
    margin: 0 50px
    min-width: 400px

.content
    position: relative

.js-main, .js-signup
    justify-content: center
    align-items: center

.js-signin
    flex-direction: column
    align-content: space-between
    align-items: center



.content__background-img
    position: relative
    top: 100px

.menu
    z-index: 1
    position: absolute
    bottom: 50px

.close
    position: absolute
    color: #11355e
    top: 30px
    right: 30px

.loader
	width: 100%
	height: 6px
	position: relative
	overflow: hidden;

.big
	height: 16px
	margin: 8px 0 0 0

.loader
     div
	position: absolute
	height: 100%
	left: 50%

.green
	background: #27ae60

.red
	background: #c0392b

.blue
	background: #2980b9

.yellow
	background: #f1c40f

.sd0
	animation: stretch 2.8s ease 0s

.sd05
	animation: stretch 2.8s ease .4s

.sd1
	animation: stretch 2.8s ease .8s

.sd15
	animation: stretch 2.8s ease 1.2s

@-webkit-keyframes "stretch"
 0%
   padding: 0 0 0 0
   left: 50%
   z-index: 4

 25%
   z-index: 3

 50%
   padding: 0 50% 0 50%
   left: 0
   z-index: 2

 100%
   padding: 0 50% 0 50%
   left: 0
   z-index: 1
