@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    background: #f1c40f;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    margin: 0 50px;
    height: 100%;
}

.main-backround {
    display: block;
    user-select: none;
}

.content {
    margin-top: 10%;
}

.js-main {
    /*margin-top: 10%;*/
    justify-content: center;
    /*align-items: flex-end;*/
}

.js-signin {
    flex-direction: column;
    align-items: center;
}

.main-menu {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 160px;
}

.close {
    position: absolute;
    color: #11355e;
    top: 30px;
    right: 30px;
}


.loader {
	width: 100%;
	height: 6px;
	position: relative;
	/*overflow: hidden;*/
}
.big {
	height: 16px;
	margin: 8px 0 0 0;
}
.loader > div {
	position: absolute;
	height: 100%;
	left: 50%;
}
.green {
	background: #27ae60;
}
.red {
	background: #c0392b;
}
.blue {
	background: #2980b9;
}
.yellow {
	background: #f1c40f;
}
.sd0 {
	animation: stretch 2.8s ease 0s ;
}
.sd05 {
	animation: stretch 2.8s ease .4s ;
}
.sd1 {
	animation: stretch 2.8s ease .8s ;
}
.sd15 {
	animation: stretch 2.8s ease 1.2s ;
}
@-webkit-keyframes "stretch" {
 0% {
   padding: 0 0 0 0;
   left: 50%;
   z-index: 4;
 }
 25% {
   z-index: 3;
 }
 50% {
   padding: 0 50% 0 50%;
   left: 0;
   z-index: 2;
 }
 100% {
   padding: 0 50% 0 50%;
   left: 0;
   z-index: 1;
 }
}
