.validInput {
    border: 1px solid green !important;
    width: 50% !important;
    float: bottom;
}

.invalidInput {
    border: 1px solid red !important;
    width: 50% !important;
    float: bottom;
}
