.button {
    background: none;
    outline: none;
    border: none;
}

/* BTN */

.btn {
    display: inline-block;
    margin: 0 50px 0 48px;
    height: 90px;
    background: none;
    font: normal 25px/80px 'pf_isotext_probold', Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #000;
    text-transform: uppercase;
    position: relative;
}

.btn::before {
    display: block;
    content: '';
    width: 48px;
    height: 90px;
    position: absolute;
    top: 0;
    left: -48px;
}

.btn::after {
    display: block;
    content: '';
    width: 50px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 100%;
}

.btn:hover {
  color: white;
}

.btn:active {
  color: transparent;
}

/* DEFAULT BTN */

.btn-default {
    background: url('../../img/btn-background.png') repeat-x;
}

.btn-default::before {
    background: url('../../img/sprites.png') 0px -2px no-repeat;
}

.btn-default::after {
  background: url('../../img/sprites.png') -54px -2px no-repeat;
}

.button:hover .btn-default {
    background: url('../../img/btn-background.png') 0px -91px repeat-x;
}

.button:hover .btn-default::before {
    background: url('../../img/sprites.png') 0px -93px no-repeat;
}

.button:hover .btn-default::after {
    background: url('img/sprites.png') -54px -93px no-repeat;
}

.button:active .btn-default {
    background: url('img/btn-background.png') 0px -183px repeat-x;
}

.button:active .btn-default::before {
    background: url('../../img/sprites.png') 0px -185px no-repeat;
}

.button:active .btn-default::after {
    background: url('../../img/sprites.png') -54px -185px no-repeat;
}

/* SIGNUP BTN */

.btn-signup {
  color: #e26700;
  background: url('../../img/btn-background.png') 0px -276px repeat-x;
}

.btn-signup::before {
    background: url('../../img/sprites.png') -103px -2px no-repeat;
}

.btn-signup::after {
    background: url('../../img/sprites.png') -157px -2px no-repeat;
}

.btn-signup:hover {
    background: url('../../img/btn-background.png') 0px -367px repeat-x;
}

.btn-signup:hover::before {
    background: url('../../img/sprites.png') -103px -93px no-repeat;
}

.btn-signup:hover::after {
    background: url('../../img/sprites.png') -157px -93px no-repeat;
}

.btn-signup:active {
    background: url('../../img/btn-background.png') 0px -459px repeat-x;
}

.btn-signup:active::before {
    background: url('../../img/sprites.png') -103px -185px no-repeat;
}

.btn-signup:active::after {
    background: url('../../img/sprites.png') -157px -185px no-repeat;
}

/* SIGNIN BTN */

.btn-signin {
  color: #1f6a8d;
  background: url('../../img/btn-background.png') 0px -552px repeat-x;
}

.btn-signin::before {
    background: url('../../img/sprites.png') -206px -2px no-repeat;
}

.btn-signin::after {
    background: url('../../img/sprites.png') -260px -2px no-repeat;
}

.btn-signin:hover {
    background: url('../../img/btn-background.png') 0px -643px repeat-x;
}

.btn-signin:hover::before {
    background: url('../../img/sprites.png') -206px -93px no-repeat;
}

.btn-signin:hover::after {
    background: url('../../img/sprites.png') -260px -93px no-repeat;
}

.btn-signin:active {
    background: url('../../img/btn-background.png') 0px -735px repeat-x;
}

.btn-signin:active::before {
    background: url('../../img/sprites.png') -206px -185px no-repeat;
}

.btn-signin:active::after {
    background: url('../../img/sprites.png') -260px -185px no-repeat;
}

/* ACTION BTN */

.btn-action {
  color: #28b187;
  background: url('../../img/btn-background.png') 0px -828px repeat-x;
}

.btn-action::before {
    background: url('../../img/sprites.png') -309px -2px no-repeat;
}

.btn-action::after {
    background: url('../../img/sprites.png') -363px -2px no-repeat;
}

.button:hover .btn-action {
    background: url('../../img/btn-background.png') 0px -919px repeat-x;
}

.button:hover .btn-action::before {
    background: url('../../img/sprites.png') -309px -93px no-repeat;
}

.button:hover .btn-action::after {
    background: url('../../img/sprites.png') -363px -93px no-repeat;
}

.button:active .btn-action {
    background: url('../../img/btn-background.png') 0px -1011px repeat-x;
}

.button:active .btn-action::before {
    background: url('../../img/sprites.png') -309px -185px no-repeat;
}

.button:active .btn-action::after {
    background: url('../../img/sprites.png') -363px -185px no-repeat;
}


.form-modal__submit-btn {
    display: block;
    margin: auto;
    background-color: #1f6a8d;
    color: white;
    font: 40px 'pf_isotext_probold', Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 0px;
}

.reg-form-modal .form-modal__submit-btn {
  margin-top: 110px;
}

.login-form-modal .form-modal__submit-btn {
  margin-top: 150px;
}

.form-modal__submit-btn:hover {
    background-color: #15ab7f;
}

.form-modal__submit-btn:active {
    color: transparent;
}
